body {
    font-family: 'Poppins', sans-serif; /* Modern font */
    background: linear-gradient(135deg, #bfcbce, #84a7ba);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, #84a7ba, #6f90af);
    color: #333;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #bfcbce; /* Loblolly border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center; /* Centers the nav horizontally */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Makes the list items appear in a row */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #bfcbce; /* Loblolly hover */
    transform: scale(1.1);
}

main {
    margin: 20px;
    text-align: center;
}

section {
    margin: 40px 0;
    padding: 20px;
    background: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in forwards;
}

h1 {
    font-size: 3em;
    margin: 20px 0;
    /* background: linear-gradient(135deg, #bfcbce, #02c5fb); */
    -webkit-background-clip: text;
    /* color: transparent; */
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

.styled-image {
    max-width: 100%;
    height: auto;
    border: 5px solid #6f90af; /* Wild Blue Yonder border */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    animation: fadeIn 2s ease-in forwards;
}

footer {
    background: linear-gradient(135deg, #84a7ba, #6f90af);
    color: #333;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #bfcbce; /* Loblolly border */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
